---
title: PLAnT Usage
layout: page
---

{%- if site.posts.size > 0 -%}
    <table class="post-list">
        <tr>
          <th><h2><b>Script</b></h2></th><th><h2><b>Interactive</b></h2></th>
        </tr>
        {% assign script-posts = site.posts | where: "category","script" | sort: 'title'%}
        {% assign function-posts = site.posts | where: "category","function" | sort: 'title' %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        {% for i in (0..script-posts.size) %}
          {% if i < script-posts.size %}
            <tr>
              <td>
                <span class="post-meta">{{ script-posts[i].date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ script-posts[i].url | relative_url }}">
                    {{ script-posts[i].title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ script-posts[i].excerpt }}
                {%- endif -%}
              </td>
              <td>
                  <span class="post-meta">{{ function-posts[i].date | date: date_format }}</span>
                  <h3>
                    <a class="post-link" href="{{ function-posts[i].url | relative_url }}">
                      {{ function-posts[i].title | escape }}
                    </a>
                  </h3>
                  {%- if site.show_excerpts -%}
                    {{ function-posts[i].excerpt }}
                  {%- endif -%}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
    </table>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}