---
title: Jupyter Notebooks
layout: page
---

<style>
    .fragment:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    
    }
    
    .fragment img { 
        float: left;
        margin-right: 10px;
    }
    
    
    .fragment h3 {
        padding: 0;
        margin: 0;
        color: #369;
    }

    .fragment {
        font-size: medium;
        height: 80px;
        border: 1px solid #ccc;
        color: #555;
        display: block;
        padding: 10px;
        box-sizing: border-box;
        text-decoration: none;
    }
</style>

    {% assign notebook-pages = site.pages | where: "category","notebook" %}
    {% for page in notebook-pages %}
        <br>
        <a class="fragment" href="{{site.baseurl}}/{{ page.url }}">
                <h3 style="text-align: center">
                    {{page.title}}
                </h3>
        </a>
    {% endfor %}