<!DOCTYPE html>
<!-- 
based on:
    https://freefrontend.com/css-sliders/ (author: Huw Llewellyn)
-->
<html >
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  
  
  <style>
    
    /* You can remove this page div in your website */
    #page{
	width:100%;
	height:100%;
	position:absolute;
	background: {{ background }};
    }

    /* Our normalize css */
    *{
	margin:0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    }

    /* Our wrapper */
    .wrapper{
	width: {{ width }};
	height: {{ height }};
	position: absolute;
	left:50%;
	top:50%;
	transform:translate3d(-50%,-50%,0);
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    /* Our image information */
    .before,
    .after {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	pointer-events:none;
	overflow: hidden;
	 &>img{
	     height:100%;
	 }
    }

    .after{
	background-color:#0000FF;
    }
    .before{
	background-color:#0000FF;
    }

    .img{
	height:100%;
    }

    /* Our scroller */
    .scroller{
	width: 30px;
	height:30px;
	position: absolute;
	left:60px;
	top:50%;
	transition: opacity 0.12s ease-in-out;
	transform:translateY(-50%);
	border-radius:50%;
	border: 5px solid #FFFF00;
	opacity:0.9;
	pointer-events:auto;
	cursor: pointer;
    }

    .scroller:hover{
	opacity:1;
    }

    .scrolling{
	pointer-events:none;
	opacity:1;
    }

    .scroller__thumb{
	width:100%;
	height:100%;
	padding:3px;
    }

    .scroller:before,
    .scroller:after{
	content:" ";
	display: block;
	width: 5px;
	background: #FFFF00;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -1.5px;
	z-index: 30;
	transition:0.1s;
	/* box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2); */
    }
    .scroller:before{
	top:100%;
    }
    .scroller:after{
	bottom:100%;
    }
  </style>      
</head>

<body>
  <div id="page">
<div class="wrapper">
  <div class="after">
    <img class="img" src="{{ image_2 }}" draggable="false"/>
  </div>
  <div class="before">
    <img class="img" src="{{ image_1 }}" draggable="false"/>
  </div>
  <div class="scroller">
    <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#FFFF00"/><polygon points="100 50 64 32 64 68 100 50" style="fill:#FFFF00"/></svg>
  </div>
</div>
</div>
  
  <script>

    // I hope this over-commenting helps. Let's do this!
    // Let's use the 'active' variable to let us know when we're using it
    let active = false;

    // First we'll have to set up our event listeners
    // We want to watch for clicks on our scroller
    document.querySelector('.scroller').addEventListener('mousedown',function(){
	active = true;
	// Add our scrolling class so the scroller has full opacity while active
	document.querySelector('.scroller').classList.add('scrolling');
    });
    // We also want to watch the body for changes to the state,
    // like moving around and releasing the click
    // so let's set up our event listeners
    document.body.addEventListener('mouseup',function(){
	active = false;
	document.querySelector('.scroller').classList.remove('scrolling');
    });
    document.body.addEventListener('mouseleave',function(){
	active = false;
	document.querySelector('.scroller').classList.remove('scrolling');
    });

    // Let's figure out where their mouse is at
    document.body.addEventListener('mousemove',function(e){
	if (!active) return;
	// Their mouse is here...
	let x = e.pageX;
	// but we want it relative to our wrapper
	x -= document.querySelector('.wrapper').getBoundingClientRect().left;
	// Okay let's change our state
	scrollIt(x);
    });

    // Let's use this function
    function scrollIt(x){
	// Calculate our transform
	let transform = Math.max(0,(Math.min(x,document.querySelector('.wrapper').offsetWidth)));
	// Display the correct amount of our 'after' image...
	document.querySelector('.before').style.width = transform+"px";
	// and move our scroller
	document.querySelector('.scroller').style.left = transform-15+"px";
    }

    // let's set our opening state based off the width
    scrollIt(document.querySelector('.wrapper').offsetWidth-75);

    // And finally let's add our touch events
    document.querySelector('.scroller').addEventListener('touchstart',function(){
	active = true;
	document.querySelector('.scroller').classList.add('scrolling');
    });
    document.body.addEventListener('touchend',function(){
	active = false;
	document.querySelector('.scroller').classList.remove('scrolling');
    });
    document.body.addEventListener('touchcancel',function(){
	active = false;
	document.querySelector('.scroller').classList.remove('scrolling');
    });

    document.querySelector('.wrapper').addEventListener('touchmove',function(e){
	if (!active) return;
	e.preventDefault();
	let x = e.touches[0].pageX;
	x -= document.querySelector('.wrapper').getBoundingClientRect().left;
	scrollIt(x);
    });

  </script>

</body>
</html>
